.CategoryVideo {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.videoCategoryTag {
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}